{% extends "main/base.html" %} {% block content %}
{% include "main/navbar.html" %}
<h1>About PollMitra</h1>
<p class="lead">We are a unique platform designed to help voters connect with candidates in their local, state, and national elections. Our goal is to empower voters by providing them with the information and resources they need to make informed decisions on election day.

    Our portal is easy to use and allows voters to browse through a list of candidates in their area. Users can filter candidates by party affiliation, issue positions, and other important factors to find the best match for their preferences.
    
    In addition to candidate profiles, our portal provides users with valuable information about the election process, voting rights, and important dates and deadlines. We also offer tools for users to register to vote, find their polling location, and track their ballot.
    
    Our mission is to make the election process more accessible and inclusive for all voters. We believe that by providing voters with the resources they need to make informed decisions, we can help build a stronger and more vibrant democracy.
    
    Thank you for choosing our PollMitra portal for elections. We look forward to helping you find your perfect match in the upcoming election!</p>
{% endblock %}